@import "animations";

.nav_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100%+40px);
    height: 1em;
    a{
        flex-grow: 1;
        animation: fade_in 1s;
    }

}

#main_nav{
    height: 2.5em;

    border-bottom: 1px solid $text_color;
    a{
        font-size: 16pt;
        flex-grow: 1;
    }
}

#secondary_nav{
    margin: 1em;
    font-size: 1em;  
}

.sticky{
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    width: 10vw;
    height: 50vh;
   //background-color: $main_background_color;
    margin: 0;
    animation: 1s fade_in; 
    a{
        display: block;

        margin: 5vh;
    }

}

.section_select{
    display: inline-block;
    text-decoration: none;
    color: $text_color;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: color 0.5s ease-in-out, text-decoration-color 0.5s ease-in-out;
    text-align: center;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}

@keyframes blinking_underline{
    from{ //color: $cmdline_host_color;
       color: green; }
    to{ //color: $text_color;
        color: purple; }
}
.highlight_selection{
    text-decoration-color: $cmdline_host_color;
    color: $cmdline_host_color;
    //animation: blinking_underline 0.5s linear infinite alternate;
}