@keyframes caret_animation{
    0%{
        opacity: 1;
    }
    49%{ opacity: 1;}
    50%{
        opacity: 0;
    }
    99%{ opacity: 0;}
}

body{
    display: block;
    background-color: black;
    color: white;
  }
  
.wrapper{
    width: 30vw;
    margin: 0 auto;
}
#write{
    &::after{
      content: "_";
      animation: 1s caret_animation infinite;
    }
    
}

button{
    border: none;
    border: 1px solid white;
    background-color: black;
    color: white;
    padding: 0.4vw;
}