#skills {
  color: blue;
}

/********************************************************************
* Variable definitions
********************************************************************/
/********************************************************************
* CSS Reset
********************************************************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
}

/********************************************************************
* Element base styling
********************************************************************/
summary h1, h2, h3 {
  display: inline-block;
  cursor: pointer;
}

details {
  cursor: pointer;
}

body {
  overflow-x: hidden;
}

.section::before {
  content: "";
  height: 40px;
  width: 200vw;
  display: block;
  background-color: red;
}

main > .section {
  display: block;
  min-height: 100vh;
  height: 100vh;
}

main > .section::after {
  content: "";
  width: 200vw;
  height: 50px;
  display: block;
  position: relative;
  background-color: green;
}

.main_header {
  position: relative;
  height: 10vh;
  min-height: 250px;
  width: 110vw;
  border-radius: 0 0 1000px 0;
  background-color: #0095a8;
  -webkit-box-shadow: 0 10px 0 #0095a8;
          box-shadow: 0 10px 0 #0095a8;
}

.main_header::after {
  position: relative;
  content: "";
  width: 120%;
  top: 160px;
  left: -20px;
  display: block;
  height: 140px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0095a8), to(#001f61));
  background-image: linear-gradient(#0095a8, #001f61);
  /*border-width: 0 0 6vw 100vw;
        border-style: solid;
        border-color: red;*/
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
  z-index: 1;
  -webkit-box-shadow: 0 -50px 100px #0095a8;
          box-shadow: 0 -50px 100px #0095a8;
  border-top: 2px solid #0095a8;
}

/********************************************************************
* Reusable classes styling
********************************************************************/
.main_content {
  width: 60vw;
  margin: 0 auto;
}

.section_nav li {
  display: inline-block;
  text-align: center;
}

/********************************************************************
* Specific structure
********************************************************************/
#introduction img {
  width: 40%;
  height: 40%;
  min-height: 200px;
  min-width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  float: right;
  -webkit-box-shadow: 0 0 8px 8px white inset;
          box-shadow: 0 0 8px 8px white inset;
}

/********************************************************************
* Specific stylings
********************************************************************/
/********************************************************************
*
********************************************************************/
/********************************************************************
*
********************************************************************/
/*# sourceMappingURL=main.css.map */