@import url("https://fonts.googleapis.com/css?family=Cousine");
* {
  padding: 0;
  margin: 0;
}

@-webkit-keyframes caret_blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes caret_blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes blinking_underline {
  0% {
    color: #EAAE3F;
  }
  50% {
    color: #EFEFEF;
  }
}

@keyframes blinking_underline {
  0% {
    color: #EAAE3F;
  }
  50% {
    color: #EFEFEF;
  }
}

@-webkit-keyframes grow_in {
  from {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes grow_in {
  from {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background-color: #050505;
  border: 1px solid #EFEFEF;
}

::-webkit-scrollbar-thumb {
  background-color: #EFEFEF;
  height: 25px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*************************************************
* Base elements
************************************************/
body {
  padding-top: 5vh;
  padding-bottom: 10vh;
  background-color: #050505;
  color: #EFEFEF;
  font-family: 'Cousine';
  overflow-y: scroll;
}

summary {
  cursor: pointer;
}

h1, h2, h3, h4 {
  color: #397677;
}

a {
  color: #B0413E;
}

a:visited {
  color: #B0413E;
}

ul {
  list-style-type: none;
}

p + p {
  margin-top: 2em;
}

/*************************************************
* Class selectors
*************************************************/
.hidden, .data_store {
  display: none;
}

.terminal_window {
  border-top: 1px solid #EFEFEF;
  display: block;
  margin: 0 auto;
  width: 40vw;
}

.cmdline {
  display: inline;
  line-height: 2em;
}

.cmdline::before {
  color: #EAAE3F;
  content: "erik_g@hire_me:~$  ";
}

.command {
  color: #4d8321;
}

.caret {
  color: #EFEFEF;
  display: inline;
  -webkit-animation: 0.7s caret_blink infinite;
          animation: 0.7s caret_blink infinite;
}

.skill_details, .portfolio_entry {
  min-height: 250px;
  margin-bottom: 20px;
}

.skill_details h1, .portfolio_entry h1 {
  margin: 1em 0 0 0;
}

.skill_details p, .portfolio_entry p {
  margin: 0 0 1em 0;
}

.skill_details ul, .portfolio_entry ul {
  margin: 0 0 2em 1em;
}

.skill_details details > p, .portfolio_entry details > p {
  margin: 0 0 0 2em;
}

.image {
  margin: 20px;
  -webkit-animation: 2s fade_in 1;
          animation: 2s fade_in 1;
}

.profile_pic {
  float: right;
  width: 200px;
  height: 200px;
}

.logo_pic {
  float: right;
  width: 150px;
  height: 150px;
}

#std_out_wrapper {
  margin: 20px;
}

#typing_speed_control_container {
  position: fixed;
  display: block;
  width: 100%;
  padding-top: 10px;
  background-color: #050505;
  bottom: 0;
  left: 0;
  text-align: center;
}

#typing_speed_control_container label {
  display: block;
}

.typing-speed-control-end {
  display: inline-block;
  font-size: 18pt;
  margin: 0 5px 0 5px;
}

#typing_speed_control {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-color: black;
  outline: 1px solid #EFEFEF;
  color: #EFEFEF;
}

#typing_speed_control::-moz-range-thumb, #typing_speed_control::-webkit-slider-thumb {
  cursor: pointer;
  background-color: #EFEFEF;
  border: none;
}

.nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100%+40px);
  height: 1em;
}

.nav_container a {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-animation: fade_in 1s;
          animation: fade_in 1s;
}

#main_nav {
  height: 2.5em;
  border-bottom: 1px solid #EFEFEF;
}

#main_nav a {
  font-size: 16pt;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#secondary_nav {
  margin: 1em;
  font-size: 1em;
}

.sticky {
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  width: 10vw;
  height: 50vh;
  margin: 0;
  -webkit-animation: 1s fade_in;
          animation: 1s fade_in;
}

.sticky a {
  display: block;
  margin: 5vh;
}

.section_select {
  display: inline-block;
  text-decoration: none;
  color: #EFEFEF;
  text-align: center;
  cursor: pointer;
}

.section_select:hover {
  text-decoration: underline;
}

.highlight_selection {
  -webkit-animation: 1s blinking_underline 1 ease-in-out;
          animation: 1s blinking_underline 1 ease-in-out;
}

@keyframes caret_blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blinking_underline {
  0% {
    color: #EAAE3F;
  }
  50% {
    color: #EFEFEF;
  }
}

@keyframes grow_in {
  from {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

#cv {
  padding: 5%;
  overflow: hidden;
  background-color: white;
  color: black;
  -webkit-animation: 1s grow_in;
          animation: 1s grow_in;
  -webkit-box-shadow: 5px 5px 20px black;
          box-shadow: 5px 5px 20px black;
}

#cv details {
  margin: 5px 0 30px 5%;
}

#cv details[open] {
  margin-bottom: 30px;
}

@media screen and (max-width: 720px) {
  .terminal_window {
    width: 100vw;
  }
}
/*# sourceMappingURL=main_new.css.map */