@import url("https://fonts.googleapis.com/css?family=Cousine");
* {
  padding: 0;
  margin: 0;
}

@-webkit-keyframes caret_blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes caret_blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes blinking_underline {
  0% {
    color: #EAAE3F;
  }
  50% {
    color: #EFEFEF;
  }
}

@keyframes blinking_underline {
  0% {
    color: #EAAE3F;
  }
  50% {
    color: #EFEFEF;
  }
}

@-webkit-keyframes grow_in {
  from {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes grow_in {
  from {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@-webkit-keyframes color_flow {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@keyframes color_flow {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@-webkit-keyframes color_flowold {
  0% {
    background: -webkit-linear_gradient(#EFEFEF, #4d8321);
  }
  25% {
    background: -webkit-linear_gradient(#4d8321, #EAAE3F);
  }
  50% {
    background: -webkit-linear_gradient(#EAAE3F, #B0413E);
  }
  75% {
    background: -webkit-linear_gradient(#B0413E, #4d8321);
  }
  100% {
    background: -webkit-linear_gradient(#4d8321, #EFEFEF);
  }
}

@keyframes color_flowold {
  0% {
    background: -webkit-linear_gradient(#EFEFEF, #4d8321);
  }
  25% {
    background: -webkit-linear_gradient(#4d8321, #EAAE3F);
  }
  50% {
    background: -webkit-linear_gradient(#EAAE3F, #B0413E);
  }
  75% {
    background: -webkit-linear_gradient(#B0413E, #4d8321);
  }
  100% {
    background: -webkit-linear_gradient(#4d8321, #EFEFEF);
  }
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background-color: #050505;
  border: 1px solid #EFEFEF;
}

::-webkit-scrollbar-thumb {
  background-color: #EFEFEF;
  height: 25px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*************************************************
* Base elements
************************************************/
h1 {
  font-size: 2.2em;
  font-weight: 600;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

body {
  padding-top: 5vh;
  padding-bottom: 10vh;
  background-color: #050505;
  color: #EFEFEF;
  font-family: 'Cousine';
  overflow-y: scroll;
}

summary {
  cursor: pointer;
}

summary ~ p {
  padding: 10px;
}

h1, h2, h3, h4 {
  margin: 1em 0 0 0;
  color: #397677;
}

a {
  text-decoration: none;
  color: #B0413E;
}

a:visited {
  color: #B0413E;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

p {
  text-indent: 2em;
}

p + p {
  margin-top: 2em;
}

/*************************************************
* Class selectors
*************************************************/
.hello {
  display: inline-block;
  font-size: 1.2em;
}

.hello strong {
  font-size: 2em;
  font-weight: 900;
}

.hidden, .data_store {
  display: none;
}

.terminal_window {
  border-top: 1px solid #EFEFEF;
  display: block;
  margin: 0 auto;
  width: 40vw;
}

.cmdline {
  display: inline;
  line-height: 2em;
}

.cmdline::before {
  color: #EAAE3F;
  content: "erik_g@hire_me:~$  ";
}

.command {
  color: #4d8321;
}

.caret {
  color: #EFEFEF;
  display: inline;
  -webkit-animation: 0.7s caret_blink infinite;
          animation: 0.7s caret_blink infinite;
}

.skill_details, .portfolio_entry {
  min-height: 250px;
  margin-bottom: 20px;
}

.skill_details p, .portfolio_entry p {
  margin: 0 0 1em 0;
}

.skill_details ul, .portfolio_entry ul {
  margin: 0 0 2em 1em;
}

.skill_details details > p, .portfolio_entry details > p {
  margin: 0 0 0 2em;
  font-style: italic;
}

.image {
  margin: 20px;
  -webkit-animation: 2s fade_in 1;
          animation: 2s fade_in 1;
}

.profile_pic {
  float: right;
  width: 200px;
  height: 200px;
}

.logo_pic {
  float: right;
  width: 150px;
  height: 150px;
}

#std_out_wrapper {
  margin: 20px;
}

#typing_speed_control_container {
  position: fixed;
  display: block;
  width: 100%;
  padding-top: 10px;
  background-color: #050505;
  bottom: 0;
  left: 0;
  text-align: center;
}

#typing_speed_control_container label {
  display: block;
}

.typing-speed-control-end {
  display: inline-block;
  font-size: 1em;
  margin: 0 5px 0 5px;
}

#typing_speed_control {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-color: black;
  outline: 1px solid #EFEFEF;
  color: #EFEFEF;
}

#typing_speed_control::-moz-range-thumb, #typing_speed_control::-webkit-slider-thumb {
  cursor: pointer;
  background-color: #EFEFEF;
  border: none;
}

.nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100%+40px);
  height: 1em;
}

.nav_container a {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-animation: fade_in 1s;
          animation: fade_in 1s;
}

#main_nav {
  height: 2.5em;
  border-bottom: 1px solid #EFEFEF;
}

#main_nav a {
  font-size: 16pt;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#secondary_nav {
  margin: 1em;
  font-size: 1em;
}

.sticky {
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  width: 10vw;
  height: 50vh;
  margin: 0;
  -webkit-animation: 1s fade_in;
          animation: 1s fade_in;
}

.sticky a {
  display: block;
  margin: 5vh;
}

.section_select {
  display: inline-block;
  text-decoration: none;
  color: #EFEFEF;
  text-align: center;
  cursor: pointer;
}

.section_select:hover {
  text-decoration: underline;
}

.highlight_selection {
  -webkit-animation: 1s blinking_underline 1 ease-in-out;
          animation: 1s blinking_underline 1 ease-in-out;
}

.portfolio_entry ul {
  list-style-type: disc;
}

.portfolio_entry ul li {
  margin-left: 20px;
}

@keyframes caret_blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blinking_underline {
  0% {
    color: #EAAE3F;
  }
  50% {
    color: #EFEFEF;
  }
}

@keyframes grow_in {
  from {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes color_flow {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@keyframes color_flowold {
  0% {
    background: -webkit-linear_gradient(#EFEFEF, #4d8321);
  }
  25% {
    background: -webkit-linear_gradient(#4d8321, #EAAE3F);
  }
  50% {
    background: -webkit-linear_gradient(#EAAE3F, #B0413E);
  }
  75% {
    background: -webkit-linear_gradient(#B0413E, #4d8321);
  }
  100% {
    background: -webkit-linear_gradient(#4d8321, #EFEFEF);
  }
}

#cv {
  padding: 5%;
  overflow: hidden;
  -webkit-animation: 1s grow_in;
          animation: 1s grow_in;
  border-radius: 5px;
}

#cv details {
  margin: 5px 0 20px 5%;
}

#cv details > ul {
  padding: 0 30px;
}

#cv details[open] {
  margin-bottom: 30px;
}

#cv summary > h2 {
  display: inline-block;
}

.heading_summary {
  font-weight: bold;
  color: #397677;
}

.portfolio_entry img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  margin: 2%;
  border: 1px solid #EFEFEF;
  -webkit-box-shadow: 0 0 2px #EFEFEF;
          box-shadow: 0 0 2px #EFEFEF;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: border-radius 0.7s, -webkit-filter 0.5s, -webkit-transform 0.5s;
  transition: border-radius 0.7s, -webkit-filter 0.5s, -webkit-transform 0.5s;
  transition: filter 0.5s, transform 0.5s, border-radius 0.7s;
  transition: filter 0.5s, transform 0.5s, border-radius 0.7s, -webkit-filter 0.5s, -webkit-transform 0.5s;
}

.portfolio_entry img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media screen and (min-width: 1440px) {
  body {
    font-size: 12pt;
  }
  .terminal_window {
    width: 40vw;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  body {
    font-size: 12pt;
  }
  .terminal_window {
    width: 60vw;
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  #secondary_nav a {
    margin-left: 0;
  }
  #secondary_nav a .sticky {
    font-size: 0.5em;
  }
  .terminal_window {
    width: 80vw;
  }
}

@media screen and (max-width: 480px) {
  #main_nav {
    height: auto;
  }
  #secondary_nav {
    display: none;
  }
  .nav_container {
    font-size: 0.8em;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }
  body {
    font-size: 14pt;
  }
  .terminal_window {
    width: 100vw;
  }
}
/*# sourceMappingURL=main_new.css.map */