@import 'reset';
@import 'animations';
@import 'palette';
@import url('https://fonts.googleapis.com/css?family=Mukta');
@import url('https://fonts.googleapis.com/css?family=Cousine');


*{
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 1em;
}
::-webkit-scrollbar-track{
    background-color: $main_background_color;
    border: 1px solid $text_color;
   
}
::-webkit-scrollbar-thumb{
    background-color: $text_color;
    height: 25px;
}
body{
    padding-top: 5vh;
    padding-bottom: 10vh;
    background-color: $main_background_color;
    color: $text_color;
    //font-family: "Mukta";
    font-family: 'Cousine';
    overflow-y: scroll;

}
summary{
    cursor: pointer;
}
.cmdline{
    display: inline;
    line-height: 2em;
    &::before{
        color: $cmdline_host_color;
        content: "erik_g@hire_me:~$  ";
    }
    p{
        margin-top: 2em;
    }
}

.command{
    color: $command_color;
}
.caret{
    color: $caret_color;
    display:inline;
    animation: 0.7s caret_blink infinite;
}


h1{
    color: $heading_color;
}
a{
    color: $a_color;
    &:visited{
        color: $a_color;
    }
}
ul{
    list-style-type: none;
    details{
    }
}

.nav_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100%+40px);
    height: 1em;
    a{
        flex-grow: 1;
        animation: fade_in 1s;
    }
}
#main_nav{
    height: 2.5em;

    border-bottom: 1px solid $text_color;
    a{
        font-size: 16pt;
        flex-grow: 1;
    }
}

#secondary_nav{
    margin: 1em;
    font-size: 1em;    
}

.sticky{
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    width: 10vw;
    height: 50vh;
    background-color: $main_background_color;
    margin: 0;
    flex-direction: column;
    animation: 1s fade_in; 
    a{
        display: block;

        margin: 5vh;
    }

}

.section_select{
    display: inline-block;
    text-decoration: none;
    color: $text_color;
    text-align: center;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}
.highlight_selection{
    //text-decoration: underline;
    animation: 1s blinking_underline 1 ease-in-out;
}

.terminal_window{
    border-top: 1px solid $text_color;
    
    display: block;
    width: 40vw;
    margin: 0 auto;
}

.skill_details{
    min-height: 250px;
    margin-bottom: 20px;
    h1{
        margin: 1em 0 0 0;
    }
    p{
        margin: 0 0 1em 0;
    }
    ul{
        margin: 0 0 2em 1em;
    }

    details > p{
        margin: 0 0 0 2em ;
    }
}

.image{
    //position: relative
    margin : 20px;
    animation: 2s fade_in 1;//, 0.5s spin_in 2 linear;
}

.profile_pic{
    float: right;
    width: 200px;
    height: 200px;
}

.logo_pic{
    width: 150px;
    height: 150px;
}

.logo_left{
    float: left;
}

.logo_right{
    float: right;
}
.hidden{
    display: none;
}
#std_out_wrapper{
    margin: 20px;
}
#typing_speed_control_container{
    position: fixed;
    display: block;
    width: 100%;
    padding-top: 10px;
    background-color: $main_background_color;
    bottom: 0;
    left: 0;
    text-align: center;
    label{
        display: block;
    }
}

.typing-speed-control-end{
    display: inline-block;
    font-size: 18pt;
    margin: 0 5px 0 5px;
}
#typing_speed_control{

    appearance: none;
    transform: rotate(180deg);
    background-color: black;
    outline: 1px solid $text_color;
    color: $text_color;

    &::-moz-range-thumb, &::-webkit-slider-thumb{
        cursor: pointer;
        background-color: $text_color;
        border: none;
    }
}

.data_store{
    display:none;
}